@import "./module/reset";

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import "./module/variables";
@import "./module/body";
@import "./module/header";
@import "./module/cards";
@import "./module/footer";
@import "./module/contacto";

.divservicios{
    background: $gradienteBGGC;
    border: 2px solid black;
    border-radius: 20px;
    padding: 6px;
    margin: 8px;
    text-align: justify;
    height: auto;
}

.div_home{
    margin-top: 30px;
    justify-content: center;
}

.direc{
    width: 95%;
    height: 27px;
}
.direc:hover{
    background-color: orange;
}


.h2_inicio_pd{
    margin-top: 10px;
}

.h1_pages{
    text-align: center;
    margin-top: 15px;
}

.h2_pages{
    text-align: center;
    margin-top: 25px;
}

.h3_servicios{
    text-align: start;
    margin-top: 15px;
}
.section_servicios_destacar{
    height: auto;
    border: solid 2px red;
    border-radius: 20px;
    margin-top: 15px;
    display: flex;
    background: rgb(31,28,29);
    background: $gradienteBGHeader;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h3_servicios_destacar{
    color: red;
}

.boton_consulta{
    margin: 5px;
}

.ulservicios{
    display: grid;
    grid-column: 2;
    grid-row: 4;
}


   
@media (min-width: 0px) { 
    .ul_nav{
        margin-right: 20px;
    }
    .div_logoempresa{
        text-align: center;
    }
    .mapaInsertado{
        height: 315px;
    }
    .buscador{
        margin-top: 145px;
    }
 }

@media (min-width: 576px) { 
    .ul_nav{
        margin-right: 20px;
    }
    .div_logoempresa{
        text-align: center;
    }
 }

 
@media (min-width: 768px) { 
    .ul_nav{
        margin-right: 20px;
    }
    .div_logoempresa{
        text-align: start;
        margin-left: 5px;
    }
    .mapaInsertado{
        height: 85%;
    }
    .buscador{
        margin-top: 96px;
    }
 }


@media (min-width: 992px) { 
    .ul_nav{
        margin-right: 34px;
    }
 }

@media (min-width: 1200px) { 
    .ul_nav{
        margin-right: 14px;
    }
 }


@media (min-width: 1400px) { 
    .ul_nav{
        margin-right: 15px;
    }
 }
