div{
    div{
        div{
            .card_img{
                height: 160px;
                width: auto;
                border-radius: 1rem;
                }
                
            img{
                &:hover{
                    transition: 1.2s ease;
                    transform: translateY(-15%);
                    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px; 
                
            }
            }
            .img_productos{
                height: 160px;
                width: 100%;
                border-radius: 1rem
            }
            
        }
        div{
            .card_info{
                padding-top: 1px; 
            }

                .text-title {
                    font-weight: 900;
                    font-size: 1.2em;
                    line-height: 0.7;
                    margin-left: 9px;
                    margin-top: 3px;
            }

            .text-body {
                font-size: .8em;
                padding: 1px;
                margin-left: 9px;
                height: 31px; 
            }
        }

            .card-footer {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid #ddd;

                .text-title {
                    font-weight: 900;
                    font-size: 1.2em;
                    line-height: 0.7;
                    margin-left: 9px;
                    margin-top: 1px; 
            }
            div{
                &:hover {
                    border: 1px solid #ffcaa6;
                    background-color: #ffcaa6; 
                }
                }
                .card-button {
                    border: 1px solid #252525;
                    display: flex;
                    padding: .3em;
                    cursor: pointer;
                    border-radius: 50px;
                    transition: .3s ease-in-out;

                svg{
                    width: 20px;
                    height: 20px;
                    
                    }
                    path{
                        text-align: center;
                    }
                }
            }
        }
    }
    .card{
        width: 228px;
        height: 310px;
        padding: .3em;
        background: $gradienteBGGC;
        overflow: visible;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-radius: 1rem;
        margin: 5px;
}

