footer {
    position:relative;
    bottom: 0;
    margin-top: 5px;
    background: rgb(31,28,29);
    background: radial-gradient(circle, rgba(31,28,29,0.711922268907563) 67%, rgba(67,71,75,0.8463760504201681) 100%);
    height: auto;
    font-size: medium;
    div{
        div{    
            margin-left: 25px;
            }
        }
        div {
            .footer_logos{
                margin-left: 35px;
            }
            a{
                .logo_redes{
                    margin-left: 5px;
                    height: 25px;
                    width: 25px;
                    background-color: transparent;
                    margin: 3px;
                }
            }
        }
    }
        .div_logo_wss{
            position: fixed;
            right: 10px;
            bottom: 5px;
            z-index: 1;
        .logo_wss{
            height: 40px;
            width: 40px;
            margin: 3px;
        }
    }


