header{
    height: 13%;
    width: 100%;
    position:fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    color: antiquewhite;
    background: $gradienteBGHeader;
    div{
        div{
            a{
            text-decoration: none;
                .logo_empresa{
                    height: 100%;
                    width: 220px;
                    color: $negro; 
                }
            }
        }
        nav {
            ul{
                list-style: none;
                li{
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}