$gradienteBGHeader: radial-gradient(circle, rgba(31,28,29,0.711922268907563) 67%, rgba(67,71,75,0.8463760504201681) 100%);
$gradienteBGGC: radial-gradient(circle, rgba(134,153,183,0.7147233893557423) 39%, rgba(241,241,240,0.17130602240896353) 100%);
$negro: #000;
